.ul {
    position: relative;
    width: 100%;
    max-height: calc(100vh - 94px);
    list-style: none;
    padding: 0;
    margin: 0;
    background: #fff;
    letter-spacing: 0.2px;
    outline: none;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0 2px 6px 2px rgba(60, 64, 67, 0.15);
    overflow-y: auto;
    user-select: none;
}

.ul > li {
    cursor: pointer;
    padding: 2px 6px;
    min-height: 25px;
}
.ul > li,
.ul > li a {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
}
.ul > li a,
.ul > li a:visited {
    color: inherit;
    text-decoration: none;
}

.ul > li:first-child {
    margin-top: 5px;
}

.ul > li:last-child {
    margin-bottom: 5px;
}

.ul > li:hover {
    background: #f0f2f5;
}

.ul > li:global(.spopover_active) {
    background: #e8f0fe;
}

.ul > li:hover :global(.menutitle){
    text-shadow: 0.3px 0 0 currentColor;
}

.ul > li[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
}
.ul > li :global(.menuicon) {
    display: inline-flex;
    overflow: hidden;
    width: 30px;
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;
    color: #606060;
}

.ul > li :global(.menuicon) img {
    max-height: 19px;
    width: auto !important;
    height: auto !important;
}

.ul > li :global(.menutitle) {
    display: inline-flex;
    flex: 1;
    align-items: center;
    justify-content: flex-start;
    margin: 0 10px;
}

.ul > li :global(.menuright) {
    display: inline-flex;
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;
    color: #909090;
    font-size: 12px;
    width: 50px;
}
.ul > li :global(.menuright) > span {
    user-select: none;
}

.seperator {
    cursor: default !important;
    background: #00000014 !important;
    border: 0;
    height: 1px;
    min-height: 1px !important;
    margin: 4px 0;
    padding: 0 !important;
    display: block !important;
}
