.ul {
    position: relative;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 6px 0;
    background: #fff;
    outline: none;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0 2px 6px 2px rgba(60, 64, 67, 0.15);
    overflow-y: auto;
    user-select: none;
}
.li {
    cursor: pointer;
    padding: 6px 15px;
    min-height: 25px;
}
.li,
.li a {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
}
.li a,
.li a:visited {
    color: inherit;
    text-decoration: none;
}

.li.seperator {
    display: block;
    border-bottom: 1px #ced0d4 solid;
    margin: 4px;
    padding: 0;
    cursor: default;
    min-height: unset;
}

.li:first-child {
    margin-top: 5px;
}

.li:last-child {
    margin-bottom: 5px;
}

.li:hover {
    background: #f0f2f5;
}

.menuicon {
    display: inline-flex;
    overflow: hidden;
    width: 35px;
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    color: #606060;
}

.menutitle {
    display: inline-flex;
    flex: 1;
    align-items: center;
    justify-content: flex-start;
    margin-right: 10px;
}
